body{
    background-color: #D8D8D800;
    color: #212121;
}

header{
    background-color: #FFC9BA;
    padding-top: 27px;
    padding-bottom: 103px;
   
    
}

h1,h2,h3,h4{
font-family: 'Montserrat', sans-serif;

}
h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
h6{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #212121;
}
h5{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: #212121;
}
li{
    list-style-type: none;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
.navbar{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 103px;
}
.headerContainer{
    max-width: 1110px;
    margin: 0 auto;
}

#search{
     outline: none;
    border: none;
    border-bottom: 1px solid #212121;
    background-image: url('/assets/img/svg/search-ico.svg');
    background-position: 325px;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 10px ;
    color: #212121;
    
}
.accountNavigationContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
    align-items: center;
    margin-left: auto;
}

.heroContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.heroContent h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.4000000059604645px;
    margin-bottom: 16px;

}
.heroContent p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 32px;
}

#exploreCollection a {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
}

#exploreCollection a img{
    display: inline-block;
    margin-left: 8px;

}
.socialLogos{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   gap: 60px;
   align-items: center;
   padding-top: 103px;
   padding-bottom: 56px;
}

.banners{
    display: grid;
    grid-template-columns: 637px auto;
    gap: 24px;
    padding-top: 64px;
    padding-bottom: 80px;
    
}
.banners h3{
    padding: 40px;
}

.bannerOne{
    background-color: #E6F0FF;
    border-radius: 6px;
}
.bannerTwo{
    background-color: #FAFAFB;
    border-radius: 6px;
}

.featuredProductsSlider h3, .featuredProductsBanners h3{
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 16px;
    margin-bottom: 24px;
}
.productsCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
}
.productCard{
    background-color: #D8D8D800;
}
.productCard .productCardContent p,
.latestArticlesCards .latestArticlesCard p{
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    color: #807E7E;
}
.productCard .productCardContent span{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}
.bannersTwo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
}
.bannersTwo .bannersTwoContent{
    background-color: #FAFAFB;
    padding: 128px 64px 211px 97px;
}
.bannersTwo .bannersTwoImage{
    background-color: #ECF1F8;;
}

.featuredProductsBanners{
    margin-bottom: 80px;
}
.featuredProductsBannersCards{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.latestArticles{
    margin-bottom: 80px;
}
.latestArticlesCards
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
}

.latestArticlesHeader{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 16px;
    margin-bottom: 24px;
}
.latestArticlesHeader a{

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

footer{
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 72px 0;
}

footer .footerContent{
    width: 496px;
}
.footerContent p{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.footerCategories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footerCategory h5{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
.footerCategory li {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.footerBottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:24px 0 ;
}
.footerBottom .footerSocialIcons{
    display: grid;
    grid-template-columns: 24px 24px 24px 24px;
    gap: 45px;
}
.footerBottom p{
    margin-left: auto;
}

@media screen and (max-width: 500px){
   img{
    max-width: 100%;
   }
    .headerContainer{
        max-width: 500px;
        margin: 0 auto;
    }
    .user,.notification{
        display: none;
    }
    .hamburgerMenu{
        margin-left: auto;
    }
    .heroContainer{
        display: block;
    }
    .heroContainer img{
        max-width: 100%;
    }
    .heroContent{
        margin-bottom: 20px;
    }
    .container{
        max-width: 500px;
        margin: 0 auto;
    }
    .socialLogos{
        grid-template-columns: 1fr 1fr;
    }
    .banners{
        display: block;
    }
    .productsCards{
        grid-template-columns: 1fr 1fr;
        gap: 15px;

    }
    .bannersTwo{
        display: block;
    }
    .bannersTwoContent{
        padding: auto;
    }
    .featuredProductsBanners{
        display: none;
    }
    .latestArticlesCards{
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
    footer{
        grid-template-columns: 1fr;
    }
    .footerContent{
        width: 0;
    }
    .footerCategories{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

}
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/